{{ ansible_managed | comment }}
{% set sudo_commands = user.sudo_commands -%}

{{ user.name }} ALL=(ALL) NOPASSWD: {{ sudo_commands | join(',') if sudo_commands is sequence and sudo_commands | length > 0 else 'ALL' }}
